# Project files
*.uvoptx
*.uvguix*
*.uvguix.Administrator
*.scvd
*.ini

# Backup files
*.bak

# Prerequisites
*.d

# Object files
*\Object\*.*
*.o
*.ko
*.obj
*.elf
*.lnp
*.htm
*.axf
*.iex
*.dep

# Linker output
*.ilk
*.map
*.exp
*.i
*.lst

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.crf

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.Administrator
*.dep
LoNhiet/LoNhiet.uvguix.Administrator
*.uvoptx
*.dep
LoNhiet/LoNhiet.uvguix.Administrator
*.uvoptx
LoNhiet/Object/LoNhiet_LoNhiet.dep
*.uvoptx
LoNhiet/LoNhiet.uvguix.Administrator
LoNhiet/Object/LoNhiet_LoNhiet.dep
*.ini
LoNhiet/LoNhiet.uvoptx
